VITE_FINNHUB_API_KEY="d01rp39r01qp8m5v1hq0d01rp39r01qp8m5v1hqg"
VITE_FMP_API_KEY="pPkSBsN2owZj5gTfhpbwznU76ZAK60yU"

VITE_FIREBASE_API_KEY=AIzaSyA1sRbBaCk1_cjn0is8XjhNCx5ZkncXdu8
VITE_FIREBASE_AUTH_DOMAIN=stock-watchlist-app-19903.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=stock-watchlist-app-19903
VITE_FIREBASE_STORAGE_BUCKET=stock-watchlist-app-19903.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=294322498611
VITE_FIREBASE_APP_ID=1:294322498611:web:2971f51a8e9ab2d8398746